certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
Flask-PyMongo==2.3.0
idna==2.10
IPy==1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pycryptodome==3.10.1
pymmh3==0.0.5
pymongo==3.11.3
redis==3.5.3
requests==2.25.1
urllib3==1.26.3
Werkzeug==1.0.1
