*{
    margin: 0;
    padding: 0;
}
.cavs{
    z-index:9999;
    position: fixed;
    width:95%;
    margin-left: 20px;
    margin-right: 20px;
}

html,body{
    width: 100%;
    height: 100%;

	background-image: -webkit-linear-gradient(top, #02164f, #000);
  background-image: -moz-linear-gradient(top, #02164f, #000);
  background-image: -ms-linear-gradient(top, #02164f, #000);
  background-image: -o-linear-gradient(top, #02164f, #000);
  background-image: linear-gradient(to bottom, #02164f, #000);
    background-color: #1A1A1A;
}



.loginmain{
    background-color: hsla(228,61%,18%,0.50);
    width: 540px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 100px 40px 40px 40px;
    box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);
    z-index: 99999;
    border-radius: 3px;
    box-shadow: 10px 10px 31px -5px rgba(0,0,0,0.7);
    -webkit-box-shadow: 10px 10px 31px -5px rgba(0,0,0,0.7);
    -moz-box-shadow: 10px 10px 31px -5px rgba(0,0,0,0.7);
    border: 1px solid hsla(0,0%,100%,.3);
}
.login-title{
    color: #fff;
	font-weight: 600;
    height: 60px;
    font-size:20px;
    text-align: center;
    margin-top: -60px;
}
.login-con{
    height: 208px;
    position: absolute;
    left: 0;
    width: 60%;
    margin:0 20%;
}
.login-user{
    position: relative;
    background: #ECEEF0;
    height: 53px;
    line-height: 53px;
    margin-bottom: 15px;
}
.icon{
    position: absolute;
    z-index: 1;
    left: 36px;
    top: 3px;
    opacity: 1;
    color: #000;

}
.icon img{
    width: 18px;
    height: 18px;
}
.login-con input{
    width: calc(100% - 130px);
    margin-top: -2px;
    background: rgba(57, 61, 82, 0);
    left: 0;
    padding: 10px 65px;
    border-top: 2px solid rgba(57, 61, 82, 0);
    border-bottom: 2px solid rgba(57, 61, 82, 0);
    border-right: none;
    border-left: none;
    outline: none;
    font-family: 'Gudea', sans-serif;
    box-shadow: none;
    color: #61BFFF !important;
}
.login-pwd, .login-yan{
    position: relative;
    background: #ECEEF0;
    height: 53px;
    line-height: 53px;
    margin-bottom: 15px;
}
/*
.login-pwd .icon{
    position: absolute;
    z-index: 1;
    left: 36px;
    top: 8px;
    opacity: .5;
}*/
.login-btn{
    margin: 0 auto;
    position: relative;
}
.login-btn input{
    border-radius: 3px;
    background: #3277fcb8;
    border: 2px solid #4FA1D9;
    color: white !important;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 53px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}
.login-btn input:hover{
    color: white !important;
    background: #4FA1D9;
    cursor: pointer;
    -webkit-transition-property: background,color;
    transition-property: background,color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}